.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 170px;
  margin-right: 20px;
}

.covered {
  content: url("../img/card-back.png");
  background-size: 100%;
  z-index: 1;
  font-size: 0;
}

.hand {
  overflow: auto;
}

.gameOver {
  color: white;
  font-size:18px;
  font-style: bold;
}

.hidden {
  display:none;
}

h2 {
  color: white;
}

html {
  background: url("../img/pokerBackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
